name: Docker Image CI

on:
  pull_request:
    types:
      - closed

    paths-ignore:
      - 'README.md'
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Define the access that the GITHUB_TOKEN will permit
permissions: write-all

jobs:
  test-build:
    name: Test | Build a Docker Image
    environment: test
    runs-on: ubuntu-latest

    # run this job only when PR is approved
    if: github.event.pull_request.merged == true

    steps:
    - 
      name: Check out into Repo
      uses: actions/checkout@v4
    - 
      name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

  # This job build a docker images from the dockerfile in our repo
  # and push that docker image to Docker Hub. More inof here: 
  # https://github.com/marketplace/actions/build-and-push-docker-images
  deploy-to-dockerhub:
    name: Prod | Deploy to DockerHub
    environment: prod

    # This is the runner aka container/machine where 
    #our deployment pipeline is going to run.
    runs-on: ubuntu-latest

    # only deploy to prod when test was successful 
    needs: test-build
    
    steps:
      - 
        name: Check out into the repo
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ vars.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          # neisguy/nodejs-backend:tagname
          # dockerhub username / dockerhub reposiroty : the image tag
          tags: ${{ vars.DOCKERHUB_USERNAME }}/nodejs-backend:latest

  # Deplopy the docker image to Amazon ECR
  deploy-to-ecr:
    name: Prod | Deploy to ECR
    environment: aws
    runs-on: ubuntu-latest

    # run prod deployment job only if test deployment was 
    # successful
    needs: test-build

    steps:
      - name: Repo Checkout
        uses: actions/checkout@v4

      - name: Run on PR approved
        run: |
          echo "PullRequest was reviewed, approved, and Merged"
          echo "Prod deployment was reviewed and approved"
        
      # - name: Configure AWS Credentials
      #   uses: aws-actions/configure-aws-credentials@v4
      #   with:
      #     aws-region: ${{vars.REGION}}
      #     role-to-assume: ${{vars.IAM_ROLE}}
      #     role-session-name: deploy-docker-image-to-ecr

      # - name: Validate IAM role Access
      #   # list all the repositories in the default registry of your account.
      #   run: |
      #     aws ecr describe-repositories
